<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- <h2>I'm working!</h2> -->
            <app-recipes></app-recipes>
            <app-shopping-list></app-shopping-list>
            <!-- <p>Shopping App</p> -->
        </div>
    </div>
</div>